.stock-basics-wrapper {
    display: flex;
    width: 700px;
    height: 200px;
    padding: 24px;
    justify-content: space-between;
    align-items: flex-end;

    border-radius: 8px;
    background: #FFF;
    box-shadow: 0 4px 24px 0 rgba(20, 10, 48, 0.08);
}

.stock-basics-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.stock-basics-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
}

.stock-name-wrapper {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: flex-start;*/
    display: flex;
    align-items: center;
    gap: 12px;
    width: auto;
    height: 64px;
}


.stock-full-name {
    color: #222;
    font-family: "Helvetica Neue", serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

.stock-ticker {
    color: #A7A7A7;
    font-family: "Helvetica Neue", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.price-of-stock-text {
    align-self: stretch;

    color: #A7A7A7;
    font-family: "Helvetica Neue", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.price-of-stock-number {
    color: #222;
    font-family: "Helvetica Neue", serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

button {
    display: flex;
    padding: 12px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-radius: 8px;
    background: #300EFF;

    color: #FFF;
    font-family: "Helvetica Neue", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.grey-circle-behind {
    display: flex;
    width: 64px;
    height: 64px;
    padding: 10px;
    justify-content: center;
    align-items: center;

    border-radius: 100px;
    background: #EAEAEA;
}

.stock-image {
    width: 52.255px;
    height: 52.255px;
    flex-shrink: 0;
}

.chart-wrapper {
    width: 700px;
    height: 429px;
    padding: 24px;

    border-radius: 8px;
    background: #FFF;
    box-shadow: 0 4px 24px 0 rgba(20, 10, 48, 0.08);
}
.chart-top-line {
    display: flex;
    width: 649px;
    justify-content: space-between;
    align-items: center;
    padding: 23px 25px 3px 26px;
}

.chart-name {
    color: #222;
    font-family: "Helvetica Neue", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

.chart-options-bar {
    display: flex;
    padding: 4px;
    align-items: flex-start;
    gap: 4px;

    border-radius: 8px;
    border: 1px solid #EEE;
    background: #FFF;
}

.chart-visual {
    width: 643.756px;
    height: 319.616px;
    flex-shrink: 0;
    padding: 27px 0 0 0;
}

.chart-options-piece {
    display: flex;
    padding: 2px 8px;
    align-items: flex-start;
    gap: 7.682px;
}

.chart-options-piece:hover {
    display: flex;
    padding: 2px 8px;
    align-items: flex-start;
    gap: 2px;

    border-radius: 7.682px;
    background: #CBC3FF;
}